<div class="settings-view" data-ng-controller="SettingsController">
    <form id="form" action="">
        <div class="main-header clearfix">
            <h2 class="page-title pull-left">{{lbl.feed}}</h2>
            <button data-ng-click="save()" class="btn btn-success btn-sm btn-hasicon pull-left" type="button"><i class="fa fa-check"></i>{{lbl.save}}</button>
        </div>
        <div class="content-inner">
            <div class="form-content">
                <div class="form-group">
                    <label for="txtAuthorName">{{lbl.author}}</label>
                    <input type="text" class="form-control" id="txtAuthorName" data-ng-model="settings.AuthorName" />
                </div>
                <div class="form-group">
                    <label for="txtFeedAuthor">{{lbl.email}}</label>
                    <input type="text" class="form-control ltr-dir" id="txtFeedAuthor" name="txtFeedAuthor" data-ng-model="settings.FeedAuthor" />
                </div>
                <div class="form-group">
                    <label for="txtEndorsement">{{lbl.endorsment}}</label>
                    <input type="text" class="form-control ltr-dir" id="txtEndorsement" name="txtEndorsement" data-ng-model="settings.Endorsement" />
                </div>
                <div class="form-group">
                    <label for="txtAlternateFeedUrl">{{lbl.alternateFeedUrl}}</label>
                    <input type="text" class="form-control ltr-dir" id="txtAlternateFeedUrl" name="txtAlternateFeedUrl" data-ng-model="settings.AlternateFeedUrl" />
                </div>
                <div class="form-group">
                    <label for="txtlanguageCode">{{lbl.languageCode}}</label>
                    <input type="text" class="form-control ltr-dir" id="txtlanguageCode" data-ng-model="settings.Language" />
                </div>
                <div class="form-group">
                    <label for="selCultures">{{lbl.defaultFeedOutput}}</label>
                    <select id="selCultures" class="form-control" data-ng-options="o.OptionName for o in vm.FeedOptions" data-ng-model="selFeedFormat"></select>
                </div>
                <div class="form-group">
                    <label for="txtpostsPerFeed">{{lbl.postsPerFeed}}</label>
                    <input type="text" class="form-control" id="txtpostsPerFeed" name="txtpostsPerFeed" data-ng-model="settings.PostsPerFeed" />
                </div>
                <div class="form-group">
                    <label><input type="checkbox" name="ckEnableEnclosures" data-ng-model="settings.EnableEnclosures" /> {{lbl.enableEnclosures}} </label>
                </div>
                <div class="form-group">
                    <label><input type="checkbox" name="ckEnableTagExport" data-ng-model="settings.EnableTagExport" /> {{lbl.enableTagExport}} </label>
                </div>
            </div>
        </div>
    </form>
</div>