@using System.Web.Optimization
@{
    Layout = "~/admin/themes/standard/layout.cshtml";
}
<button tabindex="-1" class="sidebar-toggle"><span></span><span></span><span></span></button>
<div ng-view="" id="ng-view"></div>
<div class="main-loading" id="global-loading"><div class="loader"></div></div>
@Scripts.Render("~/scripts/blogadmin")
