@using BlogEngine.Core
@{
    var title = Model.Title;
    var blogs = Blog.Blogs.Where(b => b.IsActive).ToList();
}
<div class="widget bloglist">
    <h4 class="widget-header">
        @title
    </h4>
    <div class="widget-content">
        <ul>
            @foreach (var blog in blogs)
            {
            <li>
                <a title="@blog.Name" href="@blog.RelativeWebRoot">@blog.Name</a>
            </li>
            }
        </ul>
    </div>
</div>