.content-comments-filters-view {
    // table
    .table-item-filters {
        .item-action {
            text-align: left;
            padding-left: 20px !important;
        }

        .item-subject {
            width: 200px;
        }

        .item-operator {
            width: 200px;
        }

        .item-filter {
            width: 200px;
        }
    }
   
}
