<?xml version="1.0"?>
<configuration>

    <location path="register.aspx">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>
    <location path="password-retrieval.aspx">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>
    <location path="account.css">
        <system.web>
            <authorization>
            </authorization>
        </system.web>
    </location>

    <system.web>
        <authorization>
        </authorization>
    </system.web>

</configuration>
